body {
    background: linear-gradient(135deg, #fce38a 0%, #f38181 100%);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
}

main {
    margin:10px;
}

.container {
    z-index: 10;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.container p {
    text-align: justify;
    color: black;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 30px;
}

#game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.balloon {
    position: absolute;
    width: 60px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s;
    animation: float Up 4s linear infinite;
}

@keyframes floatUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(-10vh);
    }
}

#unlock-btn {
    display: none;
    /* Hidden until game is finished */
    padding: 15px 30px;
    font-size: 1.5rem;
    background: white;
    color: #f38181;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

